In [14]:
import pandas as pd

askisi1 = pd.read_excel('askisi1.xlsx')
askisi1.fillna(0,inplace=True)
askisi1

   Limni_A  Limni_B  Limni_C  Limni_D
0     7.68     7.71     7.74     7.71
1     7.69     7.73     7.75     7.71
2     7.70     7.74     7.77     7.74
3     7.70     7.74     7.78     7.79
4     7.72     7.78     7.80     7.81
5     7.73     7.78     7.81     7.85
6     7.73     7.80     7.84     7.87
7     7.76     7.81     0.00     7.91

In [15]:
limni_a = list(askisi1['Limni_A'])
limni_b = list(askisi1['Limni_B'])
limni_c = list(askisi1['Limni_C'])
limni_d = list(askisi1['Limni_D'])
all_data = limni_a+limni_b+limni_c+limni_d
type(all_data)

list

In [17]:
sum(all_data)

240.68000000000004

In [19]:
squared_data = [item**2 for item in all_data]
squared_data

[58.9824,
 59.136100000000006,
 59.290000000000006,
 59.290000000000006,
 59.5984,
 59.752900000000004,
 59.752900000000004,
 60.2176,
 59.4441,
 59.752900000000004,
 59.9076,
 59.9076,
 60.528400000000005,
 60.528400000000005,
 60.839999999999996,
 60.99609999999999,
 59.9076,
 60.0625,
 60.372899999999994,
 60.528400000000005,
 60.839999999999996,
 60.99609999999999,
 61.465599999999995,
 0.0,
 59.4441,
 59.4441,
 59.9076,
 60.6841,
 60.99609999999999,
 61.622499999999995,
 61.9369,
 62.5681]

In [20]:
sum(squared_data)

1868.7019999999998

In [22]:
print(sum(limni_a),sum(limni_b),sum(limni_c),sum(limni_d))

61.71 62.09 54.489999999999995 62.39

In [32]:
T = [sum(limni_a),sum(limni_b),sum(limni_c),sum(limni_d)]
x_mean = [sum(limni_a)/len(limni_a),sum(limni_b)/len(limni_b),sum(limni_c)/(len(limni_c)-1),sum(limni_d)/len(limni_d)]
print(T)
print(x_mean)

[61.71, 62.09, 54.489999999999995, 62.39]
[7.71375, 7.76125, 7.784285714285714, 7.79875]

In [35]:
T_squared = [item**2 for item in T]
T_squared

[3808.1241, 3855.1681000000003, 2969.1600999999996, 3892.5121]

In [41]:
T_dia_ni = list()
for i in range(len(T_squared)):
    if i==2:
        T_dia_ni.append(T_squared[i]/7)
    else:
        T_dia_ni.append(T_squared[i]/8) 
T_dia_ni

[476.0155125, 481.89601250000004, 424.16572857142853, 486.5640125]

In [42]:
sum(T_dia_ni)

1868.6412660714286

In [48]:
(sum(all_data)**2)/31

1868.6084645161297

In [50]:
SS_tr = sum(T_dia_ni) - (sum(all_data)**2)/31
SS_tr

0.03280155529887452

In [52]:
SS_total = sum(squared_data)-(sum(all_data)**2)/31
SS_total

0.09353548387002775

In [54]:
SS_error = SS_total-SS_tr
SS_error

0.06073392857115323

In [55]:
Ms_tr = SS_tr/3
Ms_error = SS_error/27
print(Ms_tr, Ms_error)

0.010933851766291506 0.002249404761894564

In [56]:
F = Ms_tr/Ms_error
F

4.86077559339852

In [59]:
all_data.sort()
all_data

[0.0,
 7.68,
 7.69,
 7.7,
 7.7,
 7.71,
 7.71,
 7.71,
 7.72,
 7.73,
 7.73,
 7.73,
 7.74,
 7.74,
 7.74,
 7.74,
 7.75,
 7.76,
 7.77,
 7.78,
 7.78,
 7.78,
 7.79,
 7.8,
 7.8,
 7.81,
 7.81,
 7.81,
 7.84,
 7.85,
 7.87,
 7.91]

32